<ng-container *ngIf="userList$ | async as userList; else loading;">
  <header [ngClass]="displayType == 'row' ? 'padding-1' : 'padding-2'">

    <h2 class="title">Users List</h2>
    <nz-radio-group [(ngModel)]="displayType">
      <label nz-radio-button nzValue="grid">Grid</label>
      <label nz-radio-button nzValue="row">Row</label>
    </nz-radio-group>

  </header>
  <app-grid-list *ngIf="displayType == 'grid'" [userList]="userList"></app-grid-list>
  <app-row-list *ngIf="displayType == 'row' " [userList]="userList"></app-row-list>
</ng-container>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
