<div *ngIf="userList" class="grid-container">

  <div class="list-wrapper">
    <ng-container *ngFor="let user of  userList| slice:start:end; ">
      <a [routerLink]="['/details', user.id]">
        <nz-card [nzTitle]="user.title" nzHoverable [nzExtra]="extraTemplate" [nzCover]="coverTemplate">
          <nz-card-meta [nzDescription]="user.description"></nz-card-meta>
        </nz-card>
      </a>
      <ng-template #extraTemplate>
        <a>More</a>
      </ng-template>
      <ng-template #coverTemplate>
        <img alt="example" [src]="user.image"/>
      </ng-template>

    </ng-container>

  </div>

  <nz-pagination [nzPageSize]="pageSize" (nzPageIndexChange)="pageIndexChange($event)" [nzPageIndex]="1"
                 [nzTotal]="userList.length"
                 nzSize="small"></nz-pagination>
</div>

